.btns-container{
    position: fixed;
    height: 350px;
    top:-1000px;
    transition: all .4s;
    opacity: 0;
    right: -1000px;
}

.app-nav-item{
    background-color: black;
    border-radius: 10px;
    width: 318px;
    text-align: center;
    height: 78px;
    line-height: 78px;
    text-decoration: none;
    color: white;
    font-size:40px;
    border:1px solid white;
    transition: all .3s;
}

.app-nav-item:hover{
color:green;
}

.isOpen{
    left:8%;
    top:5%;
    opacity: 1;
}

.app-head-container{
    font-family: 'righteous'
}

.app-logo{
    margin-top: 5px;
    margin-left: 10px;
    color:white;
}

.app-nav-hamburger{
    margin-right:10px;
    margin-top: 5px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    transition: all .3s;
}

.app-nav-hamburger:hover{
    background-color: rgb(143, 143, 143);
}

.fa-bars{
    color:black;
}

.horsie{
    color: green;
}

.app-head-container{
    background-color: black;
    height: 50px;
}

.hamburger-back-layer{
    position: fixed;
    opacity: 1;
    background-color: grey;
    opacity: 0.7;
    height: 100vh;
    width: 100%;
}

.appsus-btn{
    width: 90%;
    height: 280px;
    background-color: red;
    margin: 13px auto;
    text-align: center;
    line-height: 280px;
    border-radius: 10px;
    box-shadow: 5px 11px 22px -4px rgba(0,0,0,0.19);
    text-decoration: none;
    transition: all .3s;
}

.appsus-btn:hover{
    height: 285px;
    width: 92%;
}
.email-btn-app{
    background: url('../img/email.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    margin: 0 auto;
    text-align: center;
    margin-top:15px;
    background-color: #f5b836;
}

.keep-btn-app{
    background: url('../img/notes.jpg');
    margin: 0 auto;
    background-position: center center;  
    margin-top:15px;
    background-size: cover;
}

@media (min-width: 400px) {
.apps-container{
    max-width: 1000px;
    margin: auto;
}
.appsus-btn{
    width: 90%;
    height: 400px;
}
.appsus-btn:hover{
    height: 420px
}
.keep-btn-app{
    background-size: contain;
}
.btns-container{
    opacity: 1;
}
}

.app-section{
    height: 100vh;
    background: url('../img/bg.jpg');
    background-size: auto;
}