.inline{
    display:inline-block;
}

/* flex */
.flex{
display:flex;
}

.space-between{
    justify-content: space-between;
}

.direction-column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}