.note-text-time{
    float:right;
    margin: 5px;
}

.note-text-text{
    margin-top: 10px;
    padding: 15px;
    font-size: 20px;
}

.compose-new-text{
    background-color:#ffffcc;
}

.edit-buttons{
    text-align: left;
}