.note-image-item img{
        max-width: 100%;
        padding:1px;
        border-top:1px solid black;
        border-bottom:1px solid black;
}

.note-image-item{
    text-align: center;
    background-color:#6ff7b2
}

.note-image-head{
    margin:10px;
}

.edit-buttons{
    display: inline-block;
    float: left;
}