.fas{
    cursor: pointer;
    color:black;
    transition: all .3s;
    font-size:30px;
    margin:5px;
}

.fas:hover{
    color:#599fa1;
    
}

.text-area-new{
    margin-top: 10px;
    width: 98%;
    height: 290px;
}

@media (min-width: 400px) {
    .compose-new-text{
        height: 760px;
    }
    .text-area-new{
        height: 600px;
    }
    }