.note-text-item{
background-color: #ffc;
text-align: center;
}

.note-todo-item{
text-align: center;
}

.item{
    border: 1px solid black;
    box-shadow: 5px 11px 22px -4px rgba(0,0,0,0.19);
    border-radius: 10px;
    height: 400px;
    margin-bottom: 2px;
}

.note-todo-item{
    background-color: #c0e6ff;
}

.add-btn{
    border-radius: 10px;
    font-family: 'pattaya';
    text-decoration: none;
    background: #599fa1;
    color: white;
    border: 1px solid black;
    box-shadow: 5px 11px 22px -4px rgba(0,0,0,0.19);
    text-decoration: none;
    padding: 10px;
    margin-top:10px;
    display: inline-block;
    transition: all .3s;
    font-size: 25px;
    margin-bottom: 5px;
}
.add-btn:visited{
    text-decoration: none;
}

.add-btn:hover{
    background: #7adadd;
}

.note{
    border: 1px solid black;
    box-shadow: 5px 11px 22px -4px rgba(0,0,0,0.19);
    border-radius: 10px;
    margin: 5px;
}

