@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.email-app {
    font-family: 'Roboto Mono', monospace;
    background-image: url('../img/email-background.jpg');
    margin: 0 auto;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100%;
}



/* email preview item */

.email-preview-headline {
    margin-top: 10px; 
    /* border: 3px solid black; */
}

.email-preview-item {
    padding: 5px 0;
    margin: 3px 0;
    border: 2px solid gray;
    color: black;
}




/* email app */
.email-app div nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.compose-email-link {
    /* width: 20px;
    height: 20px; */
    /* text-align: center; */
    border-radius: 2px;
}



/* email filter */

.email-filter{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}