@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import './email-preview-item.css';
@import './email-filter.css';
@import './email-details.css';
@import './email-compose.css';


/* email app */
.email-container-nav{
    height: 50px;
}

.email-app {
    font-family: 'Roboto Mono', monospace;
    background-image: url('../img/email-background.jpg');
    margin: 0 auto;
    background-position: bottom;
    background-attachment: fixed;
    position: relative;
    height: 100vh;
    width: 100%;
}

.email-app-header{
    display: flex;
    justify-content: space-between;
}

.controller-button{
    background-color: snow;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    padding: 10px 12px 10px 10px;
    font-size: 1.1em;
}

.email-app div nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.compose-email-button {
    border-radius: 5px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    color: black;
    background-color: snow;
    border: 2px solid black;
}

.email-compose-status > * {
    display: inline-block;
}


