*{
    box-sizing: border-box;
}

.notes-list-section{
    display:flex;
    flex-direction: column;
    margin-top:20px;
}

@media (min-width: 400px) {
    .notes-list-section{
        display:inline-block;
        column-count: 3;
        margin-top:20px;
        }
        .item{
            max-width: 800px;
            margin:auto;
        }    
}